<footer class="my-20">
  <p class="text-center text-sm text-[#949BA8]">
    Nada de Copyright Â© {new Date().getFullYear()} . Forkealo de mi github, primo.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-[#949BA8] mt-1">
    Hecho por <a
      href="https://github.com/rp4ri"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      rp4ri
    </a>
  </p>
</footer>
