<footer class="my-20">
  <p class="text-center text-sm text-[#FFF]/60">
    <!-- No hay Copyright Â© {new Date().getFullYear()} . Forkealo de mi github, primo. -->
    No hay Copyright. Pasen a forkearlo a mi github.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-sm text-[#FFF]/60 mt-1">
    Hecho por <a
      href="https://github.com/rp4ri"
      target="_blank"
      rel="noopener"
      aria-label="Forkea esto en mi GitHub"
      class="hover:underline">
      rp4ri
    </a>
  </p>
</footer>
