---
// import { Picture } from "astro:assets";
// import heroImage from "assets/hero.png";
// import Link from "@components/ui/link.astro";
// import { Icon } from "astro-icon";
// import SynonymText from '@components/dinamic/SynonymText.svelte';
import Chart from '@components/dinamic/Chart.svelte';
---

<!-- <main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"> -->
<main
  class="relative pt-8 mx-auto text-center lg:w-2/3">
  <!-- <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div> -->
  <div>
    <div class="flex items-start justify-center max-w-4xl my-8">
      <div class="emoji text-5xl lg:text-5xl xl:text-7xl xl:mx-4">
        🔥
      </div>
      <h1 class="text-[#FFF]/85 text-5xl lg:text-5xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        Dolar Blue Bolivia
      </h1>
      <div class="emoji text-5xl lg:text-5xl xl:text-7xl xl:mx-4">
        🔥
      </div>
    </div>
    
    <Chart client:only/>
    
    <p class="text-lg mt-8 text-[#FFF]/55 max-w-3xl mx-auto">
      Hola soy Rodrigo. Estoy guardando los precios del dolar en el mercado negro de Bolivia dentro de un firestore. Mientras la economía se deteriora todo lo que puedo hacer es codear así que acá les dejo una chart hecha con Astro y Svelte. Estará en horas hasta que recopile más datos.
    </p>
    <!-- <div class="mt-8 flex flex-col sm:flex-row gap-3 justify-center">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">

         Ver todos los items
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
         Botono
      </Link>
    </div> -->
  </div>
</main>
